In [1]:

from sqlalchemy import create_engine
import psycopg2

from config import db_password
import pandas as pd

In [2]:
# localserver, the connection string
dbEngine = f"postgresql://postgres:{db_password}@127.0.0.1:5433/Drops_of_Jupyter"

# create the database engine
engine = create_engine(dbEngine)
conn = engine.connect()

In [3]:
# Read data from PostgreSQL database table and load into a DataFrame instance
ghs_df = pd.read_sql("select * from general_health_status", conn);
ghs_df

,ID,General_Health_Status,Diabetes,Prediabetes,Weight_Lbs,Categorical_BMI
0,H056808,Very_Good,no,yes,199.0,Overweight
1,H018779,Very_Good,yes,yes,205.0,Overweight
2,H049265,Very_Good,no,no,160.0,Overweight
3,H007699,Fair,no,no,190.0,Obese
4,H066034,Good,no,no,250.0,Obese
...,...,...,...,...,...,...
29477,H012375,Very_Good,no,no,140.0,Overweight
29478,H052160,Fair,yes,yes,220.0,Obese
29479,H051563,Very_Good,no,no,130.0,Overweight
29480,H058432,Good,no,no,168.0,Healthy_Weight
29481,H052354,Fair,yes,yes,184.0,Obese

In [4]:
ind_df = pd.read_sql("select * from individual", conn);
ind_df

,ID,Region,Age,Gender,Education,Race,Poverty_Ratio
0,H056808,South,50,Male,Grade_1-11,White_Only,1.93
1,H018779,South,53,Male,Associates_Academic_Program,African_American_Only,4.45
2,H049265,South,56,Male,Bachelor,White_Only,5.94
3,H007699,South,57,Female,Some_College_no_degree,White_Only,3.70
4,H066034,South,25,Male,High_School_Graduate,African_American_Only,1.66
...,...,...,...,...,...,...,...
29477,H012375,West,70,Female,Masters,White_Only,5.11
29478,H052160,West,35,Female,Associates_Academic_Program,None,3.03
29479,H051563,West,72,Female,High_School_Graduate,White_Only,2.07
29480,H058432,West,58,Male,Some_College_no_degree,White_Only,2.05
29481,H052354,West,57,Female,High_School_Graduate,White_Only,4.89

In [5]:
# merge two df
clean_df2 = ghs_df.merge(ind_df, how='inner', on='ID')
clean_df2

,ID,General_Health_Status,Diabetes,Prediabetes,Weight_Lbs,Categorical_BMI,Region,Age,Gender,Education,Race,Poverty_Ratio
0,H056808,Very_Good,no,yes,199.0,Overweight,South,50,Male,Grade_1-11,White_Only,1.93
1,H018779,Very_Good,yes,yes,205.0,Overweight,South,53,Male,Associates_Academic_Program,African_American_Only,4.45
2,H049265,Very_Good,no,no,160.0,Overweight,South,56,Male,Bachelor,White_Only,5.94
3,H007699,Fair,no,no,190.0,Obese,South,57,Female,Some_College_no_degree,White_Only,3.70
4,H066034,Good,no,no,250.0,Obese,South,25,Male,High_School_Graduate,African_American_Only,1.66
...,...,...,...,...,...,...,...,...,...,...,...,...
29477,H012375,Very_Good,no,no,140.0,Overweight,West,70,Female,Masters,White_Only,5.11
29478,H052160,Fair,yes,yes,220.0,Obese,West,35,Female,Associates_Academic_Program,None,3.03
29479,H051563,Very_Good,no,no,130.0,Overweight,West,72,Female,High_School_Graduate,White_Only,2.07
29480,H058432,Good,no,no,168.0,Healthy_Weight,West,58,Male,Some_College_no_degree,White_Only,2.05
29481,H052354,Fair,yes,yes,184.0,Obese,West,57,Female,High_School_Graduate,White_Only,4.89

In [7]:
clean_df2.to_json(path_or_buf='dataframe.json', double_precision=2, default_handler=None, compression='infer', orient='records', indent=2, storage_options=None)