In [1]:
import pandas as pd

In [2]:
# change your file path to load it
test_df = pd.read_csv('/Users/kevindaniliuk/Desktop/Drops_Of_Jupyter/1_Raw_data/adult21.csv')
test_df.head()

,URBRRL,RATCAT_A,IMPINCFLG_A,CVDVAC2YR_A,CVDVAC2MR_A,CVDVAC1YR_A,CVDVAC1MR_A,SHTCVD19AV_A,SHTCVD19NM_A,SHTCVD19_A,...,PROXYREL_A,PROXY_A,AVAIL_A,HHSTAT_A,INTV_MON,RECTYPE,IMPNUM_A,WTFA_A,HHX,POVRATTC_A
0,4,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,5423.324,H056808,1.93
1,4,12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,3832.196,H018779,4.45
2,4,14,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,3422.661,H049265,5.94
3,3,11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,12960.165,H007699,3.70
4,1,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,9284.618,H066034,1.66

In [3]:
# new df with variables wanted
# NOTE: inctotoal_a is not in the col.

clean_df = test_df.loc[:, [ 'HHX','REGION','AGEP_A','SEX_A', 'EDUCP_A', 'HISP_A', 'HISPALLP_A', 'HISDETP_A', 'RACEALLP_A',
                         'PHSTAT_A', 'DIBEV_A', 'PREDIB_A', 'DIBPILL_A', 'DIBINS_A', 'DIBTYPE_A', 'KIDWEAKEV_A', 'WEIGHTLBTC_A', 'BMICAT_A',
                         'COVER_A', 'COVER65_A', 'MCPART_A', 'MCCHOICE_A', 'MCHMO_A', 'MCADVR_A', 'MCPARTD_A', 'MAXCHNG_A', 'MAPREM_A',
                         'MADEDUC_A', 'MAHDHP_A', 'MAHDHP_A', 'MAFLG_A', 'PLN1PAY4_A', 'PLN2PAY4_A', 'HISTOPELIG_A',
                         'POVRATTC_A', 'RATCAT_A', 'INCWRKO_A', 'INCSSISSDI_A', 'INCRETIRE_A'
                          ] ]
clean_df

,HHX,REGION,AGEP_A,SEX_A,EDUCP_A,HISP_A,HISPALLP_A,HISDETP_A,RACEALLP_A,PHSTAT_A,...,MAHDHP_A,MAFLG_A,PLN1PAY4_A,PLN2PAY4_A,HISTOPELIG_A,POVRATTC_A,RATCAT_A,INCWRKO_A,INCSSISSDI_A,INCRETIRE_A
0,H056808,3,50,1,1,2,2,3,1,2,...,NaN,NaN,2.0,NaN,NaN,1.93,7,1,2.0,2.0
1,H018779,3,53,1,7,2,3,3,2,2,...,NaN,NaN,2.0,NaN,NaN,4.45,12,1,2.0,2.0
2,H049265,3,56,1,8,2,2,3,1,2,...,NaN,NaN,2.0,NaN,NaN,5.94,14,1,2.0,2.0
3,H007699,3,57,2,5,2,2,3,1,4,...,NaN,NaN,NaN,NaN,NaN,3.70,11,1,1.0,1.0
4,H066034,3,25,1,4,2,3,3,2,3,...,NaN,NaN,2.0,NaN,NaN,1.66,6,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29477,H012375,4,70,2,9,2,2,3,1,2,...,NaN,NaN,2.0,NaN,NaN,5.11,14,2,2.0,2.0
29478,H052160,4,35,2,7,1,1,2,8,4,...,NaN,NaN,2.0,NaN,NaN,3.03,10,1,2.0,2.0
29479,H051563,4,72,2,4,2,2,3,1,2,...,NaN,NaN,NaN,NaN,NaN,2.07,8,2,2.0,2.0
29480,H058432,4,58,1,5,2,2,3,1,3,...,NaN,NaN,NaN,NaN,NaN,2.05,8,2,1.0,2.0
29481,H052354,4,57,2,4,2,2,3,1,4,...,NaN,NaN,2.0,NaN,NaN,4.89,13,1,2.0,2.0

In [4]:

clean_df = clean_df.rename(columns={'HHX':'Unique ID',
                                    'REGION': 'Household region',
                                    'AGEP_A': 'Age of sample adult',
                                    'SEX_A': 'Sex of sample adult',
                                    'EDUCP_A': 'Education of sample adult',
                                    'HISP_A': 'Hispanic ethnicity of SA',
                                    'HISPALLP_A': 'Single + Mult race gps w Hispanic origin',
                                    'HISDETP_A': 'Hispanic origin detail',
                                    'RACEALLP_A': 'Single and multiple race groups',
                                   
                                    'PHSTAT_A': 'General health status',
                                    'DIBEV_A': 'Ever had Diabetes?',
                                    'PREDIB_A': 'Ever had pre-diabetes?', 
                                    'DIBPILL_A': 'Taking diabetic pills',
                                    'DIBINS_A': 'Taking insuliin',
                                    'DIBTYPE_A': 'Diabetes type',
                                    'KIDWEAKEV_A': 'Ever had weak/failing kidneys',
                                    'WEIGHTLBTC_A': 'Weight without shoes (pounds)',
                                    'BMICAT_A': 'Categorical Body Mass Index',
                                    
                                    'COVER_A' : 'Health insurance hierarchy under 65',
                                    'COVER65_A': 'Health insurance hierarchy under 65',
                                    'MCPART_A': 'Type of Medicare coverage',                                         
                                    'MCCHOICE_A': 'Enrolled in Medicare Advantage Plan', 
                                    'MCHMO_A': 'Medicare HMO',
                                    'MCADVR_A': 'Medicare Advantage Plan',
                                    'MCPARTD_A': 'Medicare Part D', 
                                    'MAXCHNG_A': 'Medicaid through Marketplace ',
                                    'MAPREM_A': 'Medicaid premium',
                                    'MADEDUC_A': 'Medicaid deductible', 
                                    'MAHDHP_A': 'Medicaid HDHP', 
                                    'MAFLG_A': 'Medicaid reassignment flag',
                                    'PLN1PAY4_A': 'Paid for by Medicare - plan 1',
                                    'PLN2PAY4_A': 'Paid for by Medicare - plan 2',
                                    'HISTOPELIG_A': 'Not eligible for Medicaid, CHIP, or other public coverage',
                                    
                                    'POVRATTC_A': 'SA family poverty ratio',
                                    'RATCAT_A': 'Ratio of family income to poverty threshold for SAâ€™s family',
                                    'INCWRKO_A': 'income from wages',
                                    'INCSSISSDI_A': 'income from SSI SSDI',
                                    'INCRETIRE_A': 'income from retirement' })
                           


clean_df

,Unique ID,Household region,Age of sample adult,Sex of sample adult,Education of sample adult,Hispanic ethnicity of SA,Single + Mult race gps w Hispanic origin,Hispanic origin detail,Single and multiple race groups,General health status,...,Medicaid HDHP,Medicaid reassignment flag,Paid for by Medicare - plan 1,Paid for by Medicare - plan 2,"Not eligible for Medicaid, CHIP, or other public coverage",SA family poverty ratio,Ratio of family income to poverty threshold for SAâ€™s family,income from wages,income from SSI SSDI,income from retirement
0,H056808,3,50,1,1,2,2,3,1,2,...,NaN,NaN,2.0,NaN,NaN,1.93,7,1,2.0,2.0
1,H018779,3,53,1,7,2,3,3,2,2,...,NaN,NaN,2.0,NaN,NaN,4.45,12,1,2.0,2.0
2,H049265,3,56,1,8,2,2,3,1,2,...,NaN,NaN,2.0,NaN,NaN,5.94,14,1,2.0,2.0
3,H007699,3,57,2,5,2,2,3,1,4,...,NaN,NaN,NaN,NaN,NaN,3.70,11,1,1.0,1.0
4,H066034,3,25,1,4,2,3,3,2,3,...,NaN,NaN,2.0,NaN,NaN,1.66,6,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29477,H012375,4,70,2,9,2,2,3,1,2,...,NaN,NaN,2.0,NaN,NaN,5.11,14,2,2.0,2.0
29478,H052160,4,35,2,7,1,1,2,8,4,...,NaN,NaN,2.0,NaN,NaN,3.03,10,1,2.0,2.0
29479,H051563,4,72,2,4,2,2,3,1,2,...,NaN,NaN,NaN,NaN,NaN,2.07,8,2,2.0,2.0
29480,H058432,4,58,1,5,2,2,3,1,3,...,NaN,NaN,NaN,NaN,NaN,2.05,8,2,1.0,2.0
29481,H052354,4,57,2,4,2,2,3,1,4,...,NaN,NaN,2.0,NaN,NaN,4.89,13,1,2.0,2.0

In [5]:
clean_df = clean_df.to_csv(r'clean.csv')